@import "tailwindcss";

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/avenir/Avenir-Medium.woff2') format('woff2'),
       url('/fonts/avenir/Avenir-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
